{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
<a href="/new">Uusi viesti</a>
<a href="/board">Keskustelualueet</a>
{% else %}
<form action="/login", method ="POST">
  <p>Tunnus:<br>
    <input type="text" name="username"></p>
  <p>Salasana:<br> 
  <input type="password" name="password"></p>
  <input type="submit" value="Kirjaudu">
</form>
<br>
  <p>Jos sinulla ei ole käyttäjää, Voit luoda sellaisen <a href="/signup">tästä</a></p>
{% endif %}
