<!DOCTYPE HTLM>
<html>

  <head>
    <title>Tsoha keskustelut - {% block title %}{% endblock %} </title>
  </head>

  <body>
    <h1>Tsoha keskustelut</h1>
    <a href="/">Etusivu</a>
    {% if session.user_id %}
    <form action="/logout" method="POST">
      <input type="submit" value="Kirjaudu ulos">
    </form>
    <form action="/new" method="GET">
      <input type="submit" value="Uusi viesti">
    </form>
    <a href="/board">Yleinen keskustelualue</a>
    {% endif %}
    

    <hr>
      {% block content %}{% endblock %}
    <hr>
  </body>
</html>
