{% if session.user_id %}
<form action="/send" method="POST">
  Viesti: <br>
  <textarea name ="content" rows="4" cols="40"></textarea>
  <br>
    <input type="submit" value="Lähetä">
    <br>
</form>
{% else %}
<p>Et ole kirjautunut</p>
{% endif %}
{% if session.admin_true %}
<form action="/create_category" method="POST">
  Aihelueen nimi: <br>
    <textarea name ="name" rows="4" cols="40" public="bool"></textarea>
  <br>
    Julkinen: <input type="checkbox" name="public" value="TRUE">
  <br>
  <input type="submit" value="Luo aihealue">  
</form>
{% endif %}

